<!-- Color Palette -->
<h3>Better defaults</h3>
<ul class="color-palette">
  <li class="bg-navy" title="Navy"></li>
  <li class="bg-blue"></li>
  <li class="bg-aqua"></li>
  <li class="bg-teal"></li>
  <li class="bg-olive"></li>
  <li class="bg-green"></li>
  <li class="bg-lime"></li>
  <li class="bg-yellow"></li>
  <li class="bg-orange"></li>
  <li class="bg-red"></li>
  <li class="bg-fuchsia"></li>
  <li class="bg-purple"></li>
  <li class="bg-maroon"></li>
  <li class="bg-white"></li>
  <li class="bg-silver"></li>
  <li class="bg-gray"></li>
  <li class="bg-black"></li>
</ul>
<hr>